{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container mt-2 mb-5">
        <div class="p-5 text-center bg-primary-subtle rounded-3">
            <h1 class="text-body-emphasis py-3">
                Créez, Partagez, Inspirez : Votre Univers DIY, Votre Aventure Artistique !
            </h1>

            <p class="col-lg-10 mx-auto fs-5 text-muted">
                Bienvenue dans notre havre créatif, où l'expression artistique prend vie à travers le DIY.
                <br>
                Rejoignez notre communauté passionnée, partagez vos créations et laissez-vous inspirer.
            </p>

            <a class="btn btn-primary my-3 p4 rounded" href="{{ path('app_register') }}">Rejoignez-nous</a>
        </div>
    </div>

    <main class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="article-list">
                    {% include 'article/list.html.twig' with { articles } %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    {% include 'widget/about.html.twig' %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
