<div class="p-4 mb-3 bg-body-tertiary rounded">
    <h4 class="text-secondary">À propos</h4>
    <p class="mb-0">
        Nous sommes une communauté passionnée partageant l'amour de l'artisanat et du bricolage.
        <br>
        <br>
        Notre mission est de vous inspirer à travers des idées simples et accessibles.
        <br>
        <br>
        Explorez nos tutoriels, découvrez des histoires captivantes, et échangez des expériences enrichissantes.
        Notre atelier virtuel est le cœur de notre univers, où chaque création raconte une histoire unique.
    </p>
</div>